*{box-sizing: border-box; margin: 0; padding: 0;}

*{color: #414141;}

header .container {display: flex; align-items: center; justify-content: space-between;}
body > header{
    background-color: antiquewhite;
    padding: 16px 0 ;
    font-family: Arial, Helvetica, sans-serif;}

header li{display: inline; margin-left: 16px;}
header li a{color: #414141;}
header h1{font-family: Arial, Helvetica, sans-serif;font-weight: 900;}

.container {width: 1366px; margin: 0 auto;}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}
.articles article img {width: 100%;}
.articles article{width: 30%;}

section{padding: 16px 0;}
section h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase; font-weight: 900;}
section h2,.articles article{padding-bottom: 16px;}

.articles article h3{ margin-top: 10px; margin-bottom: 10px;}

.articles article a{
    background-color: aquamarine;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;}
.articles article a:hover{
    text-decoration: underline;}

.articles article p, .articles article a
{font-family: Arial, Helvetica, sans-serif;}

.articles article h3{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#esportes {background-color: rgb(255, 255, 0, 0.1);}

#economia {background-color: rgba(0, 68, 255, 0.1)}
#economia .articles article a{background-color: aqua;}

#entretenimento {background-color: #FFF0F5}
#entretenimento .articles article a{background-color: #FFD700;}
#tecnologia {background-color: #d8ffed;}
#tecnologia .articles article a {background-color: #FFA07A;}