* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif;
}
body {
  background-color: #fff;
}
ul {
  list-style: none;
}
.cabecalho-div {
  background-color: #3977D3;
  width: 100%;
}
.cabecalho-div header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 150px;
}
.cabecalho-div header h1 {
  color: #fff;
}
.cabecalho-div nav {
  display: flex;
  list-style: none;
  margin-left: 16px;
}
.cabecalho-div nav li {
  margin-left: 16px;
  justify-content: center;
}
.cabecalho-div nav li img {
  margin-right: 8px;
}
.cabecalho-div nav li button {
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #EDEDED;
  display: flex;
}
.cabecalho-div nav li button:hover {
  background-color: #e9f4ff;
}
.form-div {
  background-color: #D3D3D3;
  width: 100%;
  display: none;
}
.form-div form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: #D3D3D3;
  height: 70px;
  gap: 10px;
}
.form-div form input {
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  width: 260px;
}
.form-div form button {
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #EDEDED;
}
.form-div form button:hover {
  background-color: #e9f4ff;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
section .galeria-imagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
section .galeria-imagens li {
  text-align: center;
}
section .galeria-imagens li .galeria-item {
  position: relative;
  overflow: hidden;
}
section .galeria-imagens li .galeria-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.compartilhar {
  background-color: #D3D3D3;
  width: 100%;
}
.compartilhar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  gap: 40px;
  justify-content: left;
}
.compartilhar-div .compartilhar-texto {
  width: 400px;
}
.compartilhar-div .gerador-codigo {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: center;
}
.compartilhar-div .gerador-codigo button {
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #EDEDED;
}
.compartilhar-div .gerador-codigo button:hover {
  background-color: #e9f4ff;
}
.compartilhar-div .gerador-codigo .codigo-gerado {
  margin-left: 24px;
  padding: 16px;
  text-align: center;
  background-color: #3977D3;
  color: #e9f4ff;
  border-radius: 16px;
  display: none;
}
.compartilhar-div .gerador-codigo .codigo-gerado .codigo-final {
  font-size: 3em;
}
